/* Accelo neon light */
body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}

a {
  text-decoration: none;
}

.projectContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acceloContainer {
  background-color: #141414;
  height: 100vh;
}

.circleContainer {
  display: flex;
  width: 240px;
  height: 240px;
  border: 6px solid #808eff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0028FF, inset 0 0 50px #0028FF;
  animation: flash 6s alternate infinite 3s;
}

.pillContainer {
  margin: auto;
  transform: translateX(-25px);
}

.pill {
  position: relative;
  margin: 10px auto;
  height: 10px;
  border-radius: 20px;
  background-color: #393939;
  animation: flash 6s alternate-reverse infinite 1s;
}

.pill--purple {
  border: 5px solid #6556C4;
  width: 100px;
  box-shadow: 0 0 50px #6556C4, inset 0 0 15px #6556C4;
}

.pill--blue {
  border: 5px solid #2D96CB;
  width: 125px;
  transform: translateX(25px);
  box-shadow: 0 0 50px #2D96CB, inset 0 0 15px #2D96CB;
}

.pill--green {
  border: 5px solid #45AE3D;
  width: 150px;
  transform: translateX(50px);
  box-shadow: 0 0 50px #45AE3D, inset 0 0 15px #45AE3D;
}

.pill--orange {
  border: 5px solid #FFA216;
  width: 125px;
  transform: translateX(25px);
  box-shadow: 0 0 50px #FFA216, inset 0 0 15px #FFA216;
}

.pill--red {
  border: 5px solid #F74E0A;
  width: 100px;
  box-shadow: 0 0 50px #F74E0A, inset 0 0 15px #F74E0A;
}

svg .pill {
  stroke-width: 3;
}

@keyframes flash {
  0%, 3%, 5%, 6%, 30%, 32%, 75%, 77%, 100% {
    opacity: 1;
  }
  2%, 4%, 31%, 76% {
    opacity: 0.7;
  }
}
/* End Accelo neon light */
/* Start Camera */
.cameraContainer {
  background-color: #d3ebe8;
}

.cameraBody {
  width: 120px;
  height: 120px;
  background-color: #393f3e;
  position: relative;
  border-radius: 20px;
  display: flex;
}

.cameraBody:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 57px;
  background-color: #910f06;
}

.cameraBody:after {
  content: "";
  width: 30px;
  height: 12px;
  position: absolute;
  top: 9px;
  right: 10px;
  border: 2px solid #2b2b2b;
  background: linear-gradient(145deg, #6e6e6e, #212121);
}

.cameraBody__middleContainer {
  background-color: #2b2b2b;
  margin: auto 0;
  width: 100%;
  height: 55px;
}

.lensOuterCircle {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 6px solid #666666;
  background-color: #333333;
  z-index: 100;
  box-shadow: 0 3px 4px;
  top: 25px;
  left: 25px;
  border-radius: 50%;
}

.lensOuterCircle:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 100;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background: linear-gradient(#595959 20%, #333333, #595959);
}

.lensInnerCircle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #333333;
  z-index: 100;
  top: 53px;
  left: 53px;
  border-radius: 50%;
}

.lensInnerCircle:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #737373;
  z-index: 100;
  top: 3px;
  left: 5px;
  border-radius: 50%;
}

.lensInnerCircle:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #737373;
  z-index: 100;
  top: 10px;
  left: 6px;
  border-radius: 50%;
}

/* End Camera */
/* Start Instagram Icon */
/* Size of elements are gonna scale based on the icon size */
/* Inner circle will always be in the middle of the icon */
/* Adjust top and left position of the outer container and circle dot accordingly */
.instagramContainer {
  background-color: #F7F7F7;
}

.instagram {
  display: block;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 35px;
  background: radial-gradient(circle at 25% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
}

.instagram:before {
  content: "";
  position: absolute;
  width: 75.3012048193px;
  height: 75.3012048193px;
  top: 18px;
  left: 17px;
  border: 8.3333333333px solid #FFF;
  border-radius: 30px;
}

.instagram:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 36px;
  left: 82px;
  background-color: #FFF;
  border-radius: 50%;
}

.innerCircle {
  position: absolute;
  top: 41.6666666667px;
  left: 39.0625px;
  width: 31.25px;
  height: 31.25px;
  border: 8.3333333333px solid #FFF;
  border-radius: 50%;
}

/* End Instagram Icon */
/* Start loading card */
.loadingCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loadingCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.loadingCard__line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #43d09a;
  background-color: #43d09a;
  position: relative;
}

.loadingCard--shifting .dot {
  transform: translateX(-100px);
  margin: 0 2px;
}
.loadingCard--shifting .dot--1 {
  animation: floating 2.8s 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}
.loadingCard--shifting .dot--2 {
  animation: floating 2.8s 0.15s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}
.loadingCard--shifting .dot--3 {
  animation: floating 2.8s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

.loadingCard-bounesing .dot {
  margin: 0 5px;
  transform: scale(0);
}
.loadingCard-bounesing .dot--1 {
  animation: bounesing 1.5s ease-in-out infinite;
}
.loadingCard-bounesing .dot--2 {
  animation: bounesing 1.5s 0.15s ease-in-out infinite;
}
.loadingCard-bounesing .dot--3 {
  animation: bounesing 1.5s 0.3s ease-in-out infinite;
}

.loadingCard-sameSpotbounesing .loadingCard__line {
  height: 50%;
  position: relative;
}
.loadingCard-sameSpotbounesing .dot {
  width: 45px;
  height: 45px;
  position: absolute;
  opacity: 0.5;
  transform: scale(0);
}
.loadingCard-sameSpotbounesing .dot--1 {
  animation: sameSpotBounesing 2s ease-in-out infinite;
}
.loadingCard-sameSpotbounesing .dot--2 {
  animation: sameSpotBounesing 2s 1s ease-in-out infinite;
}

@keyframes floating {
  0% {
    opacity: 0.4;
    transform: translateX(-100px);
  }
  40% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  70%, 100% {
    opacity: 0.5;
    transform: translateX(100px);
  }
}
@keyframes bounesing {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sameSpotBounesing {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* End loading card */
/* Start flying sqaure */
.flySquareContainer {
  width: 75px;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: calc(100% / 3);
  height: calc(100% / 3);
  background-color: #A3E7CD;
  animation: flyingSquare 1.4s ease-in-out infinite;
}

.square--1 {
  animation-delay: 0.2s;
}

.square--2 {
  animation-delay: 0.3s;
}

.square--3 {
  animation-delay: 0.4s;
}

.square--4 {
  animation-delay: 0.1s;
}

.square--5 {
  animation-delay: 0.2s;
}

.square--6 {
  animation-delay: 0.3s;
}

.square--7 {
  animation-delay: 0s;
}

.square--8 {
  animation-delay: 0.1s;
}

.square--9 {
  animation-delay: 0.2s;
}

@keyframes flyingSquare {
  0%, 70%, 100% {
    transform: scale(1);
  }
  35% {
    transform: scale(0);
  }
}
/* End flying square */
/* */
.neumorphismContainer {
  background-color: #f3f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.neumorphismContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
}

.neumorphismContent__section {
  display: flex;
  justify-content: space-around;
}

.neumorphismContent__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background-color: #f3f4f7;
  box-shadow: 6px 6px 10px #dfdfe0, -6px -6px 10px #fff;
}

.neumorphismContent__button {
  text-align: center;
  padding: 16px 8px;
  border: 0;
  margin: 13px auto;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f3f4f7;
  box-shadow: 6px 6px 10px #dfdfe0, -6px -6px 10px #fff;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.neumorphismContent__button:hover {
  box-shadow: 4px 4px 7px #dfdfe0, -4px -4px 10px #fff;
}
.neumorphismContent__button:active {
  box-shadow: inset 4px 4px 7px #dfdfe0, inset -6px -6px 10px #fff;
}

.neumorphismContent__iconButton {
  width: 44px;
  height: 44px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 4px;
  box-sizing: content-box;
  border-radius: 35%;
  background-color: #f5f5f5;
  box-shadow: 6px 6px 10px #dfdfe0, -6px -6px 10px #fff;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.neumorphismContent__iconButton:hover {
  box-shadow: 4px 4px 7px #dfdfe0, -4px -4px 10px #fff;
}
.neumorphismContent__iconButton:active {
  box-shadow: inset 4px 4px 7px #dfdfe0, inset -6px -6px 10px #fff;
}

.neumorphismContent__iconButton:not(:first-of-type) {
  margin-left: 16px;
}

.neumorphismContent__iconButton__symbol {
  font-size: 20px;
  color: black;
}

.neumorphismContent__arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 6px 6px 10px #dfdfe0, -6px -6px 10px #fff;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.neumorphismContent__arrowContainer:hover {
  box-shadow: 4px 4px 7px #dfdfe0, -4px -4px 10px #fff;
}
.neumorphismContent__arrowContainer:active {
  box-shadow: inset 4px 4px 7px #dfdfe0, inset -6px -6px 10px #fff;
}

.neumorphismContent__arrowContainer__arrow {
  padding: 2px;
  border: solid black;
  display: inline-block;
  border-width: 0 2px 2px 0;
}

.neumorphismContent__arrowContainer__arrow--left {
  transform: rotate(135deg);
}

.neumorphismContent__arrowContainer__arrow--right {
  transform: rotate(-45deg);
}

.navMenuContainer {
  background-color: #313131;
}

nav {
  margin: 16px;
}
.navMenuList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navMenuList:not(:last-of-type) {
  margin-bottom: 24px;
}

.navMenuList__item div {
  color: #FFF;
  display: inline-block;
  padding: 12px 24px;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 255%;
  transition: all 0.4s;
  letter-spacing: 2px;
  cursor: pointer;
}
.navMenuList__item:hover div {
  background-position: 100%;
  color: #313131;
  transform: translateX(6px);
}
.navMenuList__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.navMenuList--demo {
  margin-top: 24px;
}
.navMenuList--demo .navMenuList__item div {
  animation: buttonHover 1.8s infinite;
}

@keyframes buttonHover {
  0% {
    background-position: 0%;
    color: #fff;
    transform: translateX(0px);
  }
  25% {
    background-position: 100%;
    color: #313131;
    transform: translateX(6px);
  }
  75% {
    background-position: 100%;
    color: #313131;
    transform: translateX(6px);
  }
  100% {
    background-position: 0%;
    color: #fff;
    transform: translateX(0px);
  }
}
.inputFieldContainer {
  background-color: #303338;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.inputGroup {
  position: relative;
  opacity: 0;
  animation: inputGroupFadeIn 0.25s 0.3s forwards;
}

@keyframes inputGroupFadeIn {
  100% {
    opacity: 1;
  }
}
.inputGroup:not(:last-of-type) {
  margin-bottom: 16px;
}

.inputField {
  padding: 20px;
  background-color: transparent;
  color: #eee;
  font-size: 13px;
  border: 2px solid #F7F7F7;
  border-radius: 8px;
  outline: none;
  z-index: 2;
  position: relative;
}
.inputField:focus {
  padding: 28px 26px 12px 14px;
}
.inputField:focus::placeholder {
  opacity: 0;
}

.placeholderLabel {
  position: absolute;
  font-size: 13px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 1px 5px;
  color: #848c97;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  will-change: translate;
}

.inputField:focus + .placeholderLabel {
  color: #6d7580;
  font-size: 11px;
  transform: translate(-58%, -20px);
}

.inputField:not(:placeholder-shown) {
  padding: 28px 26px 12px 14px;
}
.inputField:not(:placeholder-shown) + .placeholderLabel {
  color: #6d7580;
  font-size: 11px;
  transform: translate(-58%, -20px);
}

/*# sourceMappingURL=style.css.map */
